:root {
  --yellow: #fcbd49;
  --orange: #da5c11;
  --green : #79af3c;
  --blue: #415060;
  --gray: #babebe;
}


.card {
  border: solid;
}

.card-title {
  text-align: center;
}

.card-img {
  border: solid;
  height: 150px;
  width: 150px;
  margin: auto;
}
b
.title {
  height: 80px;

}
.getRecipe-button {
  text-align: center;
}

#ui-id-1 .ui-menu-item {
  text-transform: capitalize;
}

#list .page {
  page-break-after: always; 
  page-break-before: always;
  page-break-inside: avoid;
}

.list {
  position: relative;
}

.delBtn {
  position: absolute;
  
}