/*--Global variables for color scheme--*/
:root {
  --yellow: #fcbd49;
  --orange: #da5c11;
  --green : #79af3c;
  --blue: #415060;
  --gray: #babebe;
}

/*--Style for header and navbar section--*/
header {
  background-image:url("../images/MealMasterBanner.png");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  
}

header h1 ::first-letter {

}

header h1 {
  font-size: 100px;
  opacity: 80%;
  color: white;
  font-family: Abys, Josefin Sans Bold;
  background-color: var(--blue);
  font-weight: bolder;
  border-radius: 20px; 
}

.recipe-details {
  text-align: center;
}

.navbar-nav {
  width: 100%;
  justify-content: center;
  border-radius: 20px;
  background-color: var(--blue);
  opacity: 80%;
}

.nav-item {
  font-size: 20px !important;
  background-color: var(--blue);
}

/*--Style for recipe-results html--*/
#info-container {
  padding: 50px;
  border: 5px solid var(--green);
}

.recipe-img {
  border-radius: 20px;
  border: 5px solid var(--yellow);
}

.recipe-title {
  font-size: 50px;
  border-bottom: 5px solid var(--orange);
}

.recipe-summary {
  border-radius: 20px;
  font-size: 20px;
  border: 5px solid var(--yellow);
}

.ingredient-container {
  font-size: 30px;
  border: 5px solid var(--yellow);
}

.ingredient-item {
  font-size: 20px;
}

.recipe-instructions {
  font-size: 20px;
  border: 5px solid var(--yellow);
}


/*--Style for recipe cards--*/
.card {
  border: solid;
}

.card-title {
  text-align: center;
}

.card-img {
  border: solid;
  height: 150px;
  width: 150px;
  margin: auto;
}

.title {
  height: 80px;
}

#ui-id-1 .ui-menu-item {
  text-transform: capitalize;
}

#list .page {
  page-break-after: always; 
  page-break-before: always;
  page-break-inside: avoid;
}

.list {
  position: relative;
}

.delBtn {
  position: absolute;
  
}