/*--Global variables for color scheme--*/
:root {
  --yellow: #fcbd49;
  --orange: #da5c11;
  --green : #79af3c;
  --blue: #415060;
  --gray: #babebe;
}

/*--Style for header and navbar section--*/
header {
  background-color: var(--yellow);
}

header h1 {
  font-size: 200px;
  color: var(--blue);
  font-family: 
}

.nav-item {
  font-size: 75px !important;
}

/*--Style for recipe-results html--*/
.recipe-content {

}

.recipe-title {
  font-size: 100px;
}






/*--Style for recipe cards--*/
.card {
  border: solid;
}

.card-title {
  text-align: center;
}

.card-img {
  border: solid;
  height: 150px;
  width: 150px;
  margin: auto;
}

.title {
  height: 80px;
}

.getRecipe-button {
  text-align: center;
}

#ui-id-1 .ui-menu-item {
  text-transform: capitalize;
}

#list .page {
  page-break-after: always; 
  page-break-before: always;
  page-break-inside: avoid;
}

.list {
  position: relative;
}

.delBtn {
  position: absolute;
  
}